.topnav {
    height: 56px;
    padding: 0px 20px;
    background: white;
    display: flex;
    justify-content: space-between;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    position: sticky;
    top: 0px;
    z-index: 2;
  }
  .logo-nav {
    height: 45px;
    width: 116px;
}
  .logo {
    height: 100%;
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    font-style: italic;
    font-weight: bold;
  }
  
  .logo span {
    color: #8bc34a;
  }
  
  .menu {
    margin-left: 15px;
    height: 100%;
    display: none;
  }
  
  .menu i {
    height: 100%;
    display: inline-flex;
    align-items: center;
    padding: 0 20px;
    color: black;
    font-weight: bold;
    font-size: 17px;
    text-decoration: none;
    transition: 0.3s;
    cursor: pointer;
    font-style: normal;
  }
  
  .menu i:hover {
    background: black;
    color: white;
  }
  
  .show-mobile-menu-button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border: none;
    background: transparent;
    font-size: 36px;
    color: black;
    cursor: pointer;
  }
  
  .close-mobile-menu-button {
    position: fixed;
    z-index: 999;
    top: 0;
    right: 0;
    width: 60px;
    height: 60px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border: none;
    background: transparent;
    font-size: 50px;
    color: #fff;
    cursor: pointer;
  }
  
  .mobile-menu {
    position: fixed;
    z-index: 99;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.95);
    transition: 0.3s;
  }
  
  .mobile-menu i {
    padding: 10px 0px;
    color: rgba(255, 255, 255, 0.7);
    font-weight: bold;
    font-size: 20px;
    text-decoration: none;
  }
  
  .mobile-menu i:hover {
    color: rgb(251, 247, 241);
  }
  @media (max-width:679px) {
    .login-section{
      display: none !important;
    }
  }
  @media screen and (min-width: 680px) {
    .topnav {
      justify-content: flex-start;
    }
  
    .show-mobile-menu-button {
      display: none;
    }
  
    .menu {
      display: flex;
      align-items: center;
    }
  }
  
  .content {
    padding: 40px 20px;
  }